<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character</title>
    <link href="https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming" rel="stylesheet">
    <link href="templates_HTML/style3.css" type="text/css" rel="stylesheet">
    <style>
        * {
  background: url("https://i.pinimg.com/originals/84/4e/e8/844ee8bb00fdd6530d434b4be9d490b6.gif")  no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
 
.text{
    color: white;
}
    </style>

   
</head>

<body>
     <p class ="text">test</p>
         
</body>

</html>