<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
    />
    <style>
      * {
    background: url("https://www.icegif.com/wp-content/uploads/2022/03/icegif-83.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* font sizes */
  --font-size-xs: 10px;

  /* Colors */
  --color-white: #fff;
}
 
  .blank-line {
    margin: 0;
  }
  .start-game2 {
    font-size: 25px;
    color: white;
    text-weight: bold;   
  }
  .button-start-game {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 1000px;
    left: 400px;
    padding: 24px 32px;
    width: 1000px;
    height: 50px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    mix-blend-mode: hard-light;
    
    }
    
    
  }
    </style>
  </head>
  <body>
    

     

      <div class="button-start-game">
        <p class="blank-line">&nbsp;</p>
        <p class="blank-line"></p>
          <span> </span>
          <b class="start-game2" onclick="window.location.href = 'http://localhost:8887/startgame';">   BEGIN THE ADVENTURE... ?  </b>
        </p>
      </div>
    
  </body>
</html>
