<!DOCTYPE html>
<html>
  <head>
    <title>THE ORDER</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1, width=device-width" >
    <link href="/templates_HTML/style/style.css" type="text/css" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming" rel="stylesheet">
</head>
  <body>
      <div class="button-start-game">
        <p class="blank-line">&nbsp;</p>
        <p class="blank-line"></p>
        <b class="start-game2" onclick="window.location.href = 'http://localhost:8080/image0to1';">   Will you save humanity...?  </b>
          <span> </span>
        </p>
      </div>
      <audio id="music" src='/templates_HTML/music/afterdark.mp3' autoplay loop></audio>
      <button id="play" >Music</button>

      <script>
        const playButtonEl = document.querySelector("#play");
        const audioEl = document.querySelector("#music");
        let isPlaying = false;

        document.addEventListener("DOMContentLoaded", () => {
          audioEl.volume = 0.5; // change volume auto

          setTimeout(() => {  // play after 1000 ms home.page.html:44 Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD
            audioEl.play();
            isPlaying = true;
          }, 1000);
        });

        playButtonEl.addEventListener("click", () => {
          isPlaying ? pauseSound(audioEl) : playSound(audioEl);
        });

        const playSound = (audioElement) => {
          audioElement.play();
          isPlaying = true;
        
          playButtonEl.innerHTML = "Pause Music";
        }

        const pauseSound = (audioElement) => {
          audioElement.pause();
          audioElement.currentTime = 0;
          isPlaying = false;
          playButtonEl.innerHTML = "Play Music";
        }
        window.addEventListener("DOMContentLoaded", (event) => {
  animate_text();
});
// -------------------
function animate_text() 
{
  let delay = 75,
      delay_start = 0,
      contents,
      letters;

  document.querySelectorAll(".start-game2").forEach(function (elem) {
    contents = elem.textContent.trim();
    elem.textContent = "";
    letters = contents.split("");
    elem.style.visibility = 'visible';

    // Attendre 10 secondes avant de commencer
    setTimeout(function () {
      letters.forEach(function (letter, index_1) {
        setTimeout(function () {
          elem.textContent += letter;
        }, delay_start + delay * index_1);
      });
    }, 250); // 10000 millisecondes = 10 secondes

    delay_start += delay * letters.length;
  });
}             

var hitElement = document.querySelector('.hits');

document.body.onkeyup = function(e) {
  if (e.keyCode == 32) {
    redirectToLink();  // Appel de la fonction pour rediriger vers le lien
  }
}

function redirectToLink() {
  window.location.href = 'http://localhost:8080/image0to1';
}
      </script>
  </body>
</html>