<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startgame</title>
    <link href="https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming" rel="stylesheet">
    <link href="templates_HTML/style2.css" type="text/css" rel="stylesheet">

</head>

<body>
      <div class="text-case">

        <h1 class="start-game2" >Welcome to Neom, our last hope</h1>          
    </div>
    <p class="blank-line">&nbsp;</p>
        <p class="blank-line"></p>
          <span> </span>
  </p>
          <button  id="play">Who are you...?</button>
          <script>
            let playButton = document.getElementById('play');
            let audio = null;
        
            function playMusic() {
                if (!audio) {
                    audio = new Audio('templates_HTML/darkmainmenu.mp3');
                    audio.loop = true;
                }
        
                if (!audio.playing) {
                    audio.play();
                }
            }
        
            playButton.addEventListener('click', playMusic);
        </script>
              
        
      
</body>

</html>