* {
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/c1c6f445335437.582d0c869491d.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}